## Java
*.class
hs_err_pid*

## Gradle
.gradle/
build/
/local.properties
gradle-app.setting

## IntelliJ IDEA / Android Studio
.idea/
*.ipr
*.iws
*.iml
out/

## Eclipse
.classpath
.project
.metadata/
.settings/
bin/

## OS specific
.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp
